In [1]:
import pandas as pd

<h3>Detecção de encoding</h3>
Leitura deste dataset retornou erro sem definição do encoding.
<pre><code>
import chardet
with open('DisneylandReviews.csv', 'rb') as rawdata:
    result = chardet.detect(rawdata.read())
result
</code></pre>
Esta detecção levou vários minutos, mas foi necessária porque caracteres encontrados em seções avançadas do documento indicaram encoding 'latin-1' ou 'ISO-8859-1'.

In [19]:
df = pd.read_csv('DisneylandReviews.csv', encoding='ISO-8859-1')
df.set_index('Review_ID', inplace=True)

In [20]:
df.head()

,Rating,Year_Month,Reviewer_Location,Review_Text,Branch
Review_ID,,,,,
670772142,4,2019-4,Australia,If you've ever been to Disneyland anywhere you...,Disneyland_HongKong
670682799,4,2019-5,Philippines,Its been a while since d last time we visit HK...,Disneyland_HongKong
670623270,4,2019-4,United Arab Emirates,Thanks God it wasn t too hot or too humid wh...,Disneyland_HongKong
670607911,4,2019-4,Australia,HK Disneyland is a great compact park. Unfortu...,Disneyland_HongKong
670607296,4,2019-4,United Kingdom,"the location is not in the city, took around 1...",Disneyland_HongKong